{% extends "index.html" %}

{% load static %}

{% block compartido %} 

    <form action="alta_perro" method="POST">
        {% csrf_token %}
        <div class="mb-2">
        <label class="form-label">Marca</label>
        <input type="text" class="form-control" name="nombre" required>
        </div>
        <div class="mb-2">
        <label class="form-label">Descripcion</label>
        <input type="textbox" class="form-control" name="desc" required>
        </div>
        <div class="mb-2">
        <label class="form-control">Precio</label>
        <input type="decimal" class="form-control"  name="precio" required>        
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

{% endblock %}