{% extends "index.html" %}

{% load static %}

{% block compartido %} 

    {% if alimento %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
            </tr>
            </thead>
            <tbody>
                {% for alimento in alimento %} 
            <tr>
                <th scope="row">{{alimento.id}}</th>
                <td>{{alimento.nombre}}</td>
                <td>{{alimento.desc}}</td>
                <td>{{alimento.precio}}</td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %} 
        <p>No se encontro alimento</p>
    {% endif %} 
{% endblock %}